zict==3.0.0
xyzservices==2022.9.0
nltk==3.8.1
streamlit==1.32.0
httpx==0.27.2
Brotli==1.0.9
referencing==0.30.2
frozendict==2.4.2
et-xmlfile==1.1.0
overrides==7.4.0
triton==3.0.0
protobuf==3.20.3
jupyter-events==0.10.0
wasabi==1.1.3
rfc3339-validator==0.1.4
ipython-genutils==0.2.0
aiohttp==3.9.5
jupyterlab-widgets==1.0.0
preshed==3.0.9
datasets==3.0.1
nvidia-nvtx-cu12==12.4.99
linkify-it-py==2.0.0
tomli==2.0.1
python-snappy==0.6.1
yarl==1.9.3
cloudpathlib==0.20.0
ruamel.yaml==0.17.21
filelock==3.13.1
Markdown==3.4.1
astroid==2.14.2
pydocstyle==6.3.0
qstylizer==0.2.2
importlib-metadata==7.0.1
pylint-venv==3.0.3
nvidia-nccl-cu12==2.20.5
conda-package-handling==2.3.0
colorcet==3.1.0
ipython==8.25.0
torch==2.4.1+cu124
pkginfo==1.10.0
dask-expr==1.1.0
cycler==0.11.0
chardet==4.0.0
conda-repo-cli==1.0.88
einops==0.8.0
rope==1.12.0
bert-score==0.3.13
dill==0.3.8
QtPy==2.4.1
flake8==7.0.0
astropy==6.1.0
blis==1.0.1
pyct==0.5.0
three-merge==0.1.1
spacy-legacy==3.0.12
colorama==0.4.6
tomlkit==0.11.1
inflection==0.5.1
Flask==3.0.3
charset-normalizer==2.0.4
contourpy==1.2.0
cymem==2.0.8
defusedxml==0.7.1
annotated-types==0.6.0
setuptools==69.5.1
boltons==23.0.0
plotly==5.22.0
jupyter-console==6.6.3
conda-token==0.5.0+1.g2209e04
catalogue==2.0.10
tornado==6.4.1
nvidia-cuda-cupti-cu12==12.4.99
cookiecutter==2.6.0
wrapt==1.14.1
trl==0.11.3
argon2-cffi==21.3.0
conda-build==24.5.1
SQLAlchemy==2.0.30
Unidecode==1.2.0
semver==3.0.2
numpy==1.26.4
torchvision==0.19.1+cu124
distro==1.9.0
seaborn==0.13.2
shellingham==1.5.4
psutil==5.9.0
unicodedata2==15.1.0
huggingface-hub==0.25.1
datashader==0.16.2
lckr_jupyterlab_variableinspector==3.1.0
xarray==2023.6.0
packaging==23.2
conda_index==0.5.0
pyodbc==5.0.1
urllib3==2.2.2
aiosignal==1.2.0
pip==24.0
PyDispatcher==2.0.5
peft==0.13.2
srsly==2.4.8
json5==0.9.6
pandocfilters==1.5.0
h5py==3.11.0
imagecodecs==2023.1.23
pillow==10.3.0
pycparser==2.21
jupyter_server==2.14.1
jmespath==1.0.1
tenacity==8.2.2
toml==0.10.2
platformdirs==3.10.0
nvidia-nvjitlink-cu12==12.4.99
pycodestyle==2.11.1
cloudpickle==2.2.1
yapf==0.40.2
nbformat==5.9.2
black==24.4.2
evaluate==0.4.3
safetensors==0.4.5
iniconfig==1.1.1
scikit-image==0.23.2
qtconsole==5.5.1
jsonpointer==2.1
parsel==1.8.1
textdistance==4.2.1
mistune==2.0.4
appdirs==1.4.4
jupyter_server_terminals==0.4.4
python-dotenv==0.21.0
webencodings==0.5.1
mkl-service==2.4.0
PyQtWebEngine==5.15.6
nvidia-cudnn-cu12==9.1.0.70
nest-asyncio==1.6.0
zstandard==0.22.0
pandas==2.2.2
docker-pycreds==0.4.0
transformers==4.44.2
matplotlib-inline==0.1.6
dask==2024.5.0
rfc3986-validator==0.1.1
watchdog==4.0.1
w3lib==1.21.0
libarchive-c==2.9
PySocks==1.7.1
tblib==1.7.0
arrow==1.2.3
cachetools==5.3.3
uc-micro-py==1.0.1
bleach==4.1.0
jsonschema==4.19.2
threadpoolctl==2.2.0
tqdm==4.66.4
msgpack==1.0.3
pylint==2.16.2
numba==0.59.1
ipykernel==6.28.0
itemloaders==1.1.0
conda-libmamba-solver==24.1.0
gensim==4.3.2
mdit-py-plugins==0.3.0
langcodes==3.4.1
entrypoints==0.4
networkx==3.2.1
botocore==1.34.69
multiprocess==0.70.16
diff-match-patch==20200713
anaconda-client==1.12.3
intervaltree==3.1.0
jellyfish==1.0.1
hyperlink==21.0.0
pyasn1==0.4.8
ruamel-yaml-conda==0.17.21
itsdangerous==2.2.0
autopep8==2.0.4
decorator==5.1.1
python-lsp-black==2.0.0
hvplot==0.10.0
lazy_loader==0.4
openpyxl==3.1.2
marisa-trie==1.2.1
conda==24.5.0
partd==1.4.1
altair==5.0.1
pydantic_core==2.14.6
Werkzeug==3.0.3
scipy==1.13.1
beautifulsoup4==4.12.3
pyasn1-modules==0.2.8
asttokens==2.0.5
nbclient==0.8.0
pywavelets==1.5.0
anaconda-anon-usage==0.4.4
ply==3.11
nvidia-cuda-nvrtc-cu12==12.4.99
tinycss2==1.2.1
tabulate==0.9.0
aioitertools==0.7.1
menuinst==2.1.1
atomicwrites==1.4.0
imagesize==1.4.1
jiter==0.6.1
constantly==23.10.4
tifffile==2023.4.12
cytoolz==0.12.2
Automat==20.2.0
pydantic==2.5.3
incremental==22.10.0
requests==2.32.2
PyQt5-sip==12.13.0
HeapDict==1.0.1
sphinxcontrib-qthelp==1.0.3
conda_package_streaming==0.10.0
scikit-learn==1.4.2
jedi==0.18.1
QDarkStyle==3.2.3
argon2-cffi-bindings==21.2.0
wcwidth==0.2.5
pydeck==0.8.0
deepspeed==0.15.1
nvidia-cusolver-cu12==11.6.0.99
Bottleneck==1.3.7
spyder-kernels==2.5.0
intake==0.7.0
prometheus-client==0.14.1
jupyter==1.0.0
patsy==0.5.6
python-lsp-server==1.10.0
bcrypt==3.2.0
binaryornot==0.4.4
ninja==1.11.1.1
navigator-updater==0.5.1
certifi==2024.6.2
nvidia-cublas-cu12==12.4.2.65
tokenizers==0.19.1
ipywidgets==7.8.1
wheel==0.43.0
murmurhash==1.0.10
queuelib==1.6.2
fsspec==2024.3.1
pynvml==11.5.3
pure-eval==0.2.2
lz4==4.3.2
holoviews==1.19.0
conda-pack==0.7.1
blessed==1.20.0
isort==5.13.2
astropy-iers-data==0.2024.6.3.0.31.14
pyparsing==3.0.9
bitsandbytes==0.44.1
distributed==2024.5.0
mpmath==1.3.0
spacy-loggers==1.0.5
jupyter_client==8.6.0
tldextract==3.2.0
pytoolconfig==1.2.6
lmdb==1.4.1
click==8.1.7
SecretStorage==3.3.1
Twisted==23.10.0
jsonpatch==1.33
matplotlib==3.8.4
python-lsp-jsonrpc==1.1.2
statsmodels==0.14.2
pytest==7.4.4
mypy==1.10.0
jupyterlab==4.0.11
nvidia-ml-py==12.560.30
jupyter-lsp==2.2.0
shtab==1.7.1
numexpr==2.8.7
fonttools==4.51.0
idna==3.7
torchaudio==2.4.1+cu124
typer==0.12.5
s3fs==2024.3.1
Rtree==1.0.1
tables==3.9.2
anaconda-navigator==2.6.0
accelerate==0.34.2
debugpy==1.6.7
pickleshare==0.7.5
pyOpenSSL==24.0.0
ujson==5.10.0
sphinxcontrib-jsmath==1.0.1
regex==2023.10.3
more-itertools==10.1.0
async-lru==2.0.4
pkce==1.0.3
sip==6.7.12
docutils==0.18.1
service-identity==18.1.0
cryptography==42.0.5
sortedcontainers==2.4.0
cffi==1.16.0
sphinxcontrib-applehelp==1.0.2
mkl-random==1.2.4
Jinja2==3.1.4
truststore==0.8.0
bokeh==3.4.1
hjson==3.1.0
locket==1.0.0
imageio==2.33.1
archspec==0.2.3
pexpect==4.8.0
comm==0.2.1
Send2Trash==1.8.2
prompt-toolkit==3.0.43
wandb==0.18.6
pyviz_comms==3.0.2
sentry-sdk==2.18.0
jaraco.classes==3.2.1
nvidia-curand-cu12==10.3.5.119
rich==13.3.5
whatthepatch==1.0.2
widgetsnbextension==3.6.6
Scrapy==2.11.1
sniffio==1.3.0
MarkupSafe==2.1.3
thinc==8.3.2
cssselect==1.2.0
xxhash==3.5.0
notebook_shim==0.2.3
mccabe==0.7.0
sphinxcontrib-htmlhelp==2.0.0
aiobotocore==2.12.3
python-slugify==5.0.2
rpds-py==0.10.6
anyio==4.2.0
fastjsonschema==2.16.2
alabaster==0.7.16
docstring_parser==0.16
pycosat==0.6.6
typing_extensions==4.11.0
websocket-client==1.8.0
requests-toolbelt==1.0.0
nvidia-cuda-runtime-cu12==12.4.99
pyerfa==2.0.1.4
tyro==0.8.12
Protego==0.1.16
multidict==6.0.4
notebook==7.0.8
pyxdg==0.27
blinker==1.6.2
nvidia-cufft-cu12==11.2.0.44
openai==1.52.2
multipledispatch==0.6.0
python-json-logger==2.0.7
pyzmq==25.1.2
frozenlist==1.4.0
nvidia-cusparse-cu12==12.3.0.142
snowballstemmer==2.2.0
itemadapter==0.3.0
python-dateutil==2.9.0.post0
traitlets==5.14.3
terminado==0.17.1
jupyterlab_server==2.25.1
soupsieve==2.5
ptyprocess==0.7.0
requests-file==1.5.1
llvmlite==0.42.0
pyls-spyder==0.4.0
sentencepiece==0.2.0
greenlet==3.0.1
jeepney==0.7.1
pyflakes==3.2.0
Babel==2.11.0
numpydoc==1.7.0
gitdb==4.0.7
anaconda-catalogs==0.2.0
libmambapy==1.5.8
sphinxcontrib-devhelp==1.0.2
nbconvert==7.10.0
weasel==0.4.1
sphinxcontrib-serializinghtml==1.1.10
pluggy==1.0.0
lazy-object-proxy==1.10.0
spyder==5.5.1
docstring-to-markdown==0.11
GitPython==3.1.37
jupyterlab-pygments==0.1.2
conda-content-trust==0.2.0
pyarrow==17.0.0
mkl-fft==1.3.8
parso==0.8.3
mdurl==0.1.0
joblib==1.4.2
markdown-it-py==2.2.0
six==1.16.0
language_data==1.2.0
tzdata==2023.3
text-unidecode==1.3
attrs==23.1.0
h11==0.14.0
sympy==1.12
confection==0.1.5
setproctitle==1.3.3
panel==1.4.4
stack-data==0.2.0
PyJWT==2.8.0
toolz==0.12.0
httpcore==1.0.6
py-cpuinfo==9.0.0
mypy-extensions==1.0.0
pytz==2024.1
kiwisolver==1.4.4
smart-open==5.2.1
wurlitzer==3.0.2
zipp==3.17.0
pathspec==0.10.3
QtAwesome==1.2.2
jupyter_core==5.7.2
param==2.1.0
PyQt5==5.15.10
pycurl==7.45.2
PyYAML==6.0.1
imbalanced-learn==0.12.3
Sphinx==7.3.7
anaconda-cloud-auth==0.5.1
pybind11==2.13.6
smmap==4.0.0
anaconda-project==0.11.1
executing==0.8.3
gpustat==1.1.1
keyring==24.3.1
Pygments==2.15.1
lxml==5.2.1
zope.interface==5.4.0
jsonschema-specifications==2023.7.1
